@font-face {
  font-family: "Cormorant Unicase";
  src: url("../src/assets/fonts/CormorantUnicase-Bold.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("../src/assets/fonts/RobotoCondensed-Regular.ttf");
  font-style: normal;
}


.selection-image {
  object-fit: cover;
  height: 200px;
  width: 30%;
  transition: 200ms;
}

.selection-card:hover .selection-image{
  height: 200px;
  width: 35%;
}



.blog-title {
  font-family: "Roboto Condensed";
  font-weight: 600;
  font-size: 64px;
  margin-top: 20px;
}
.sitename {
  display: inline-block;
  font-weight: 400;
  font-size: 96px;
  font-family: "Cormorant Unicase";
  @media (max-width: 1440px) {
    font-size: 1px;
  }
}

.blogtitle {
  display: inline-block;
  font-weight: 400;
  font-size: 64px;
  font-family: "Cormorant Unicase";
}

.first {
  margin-right: 10px;
}

.selection-text .subheading{
  text-overflow: ellipsis;
}

.selection-card:hover .selection-text .subheading{
  text-overflow: clip;
}

@media only screen and (max-width: 768px) {
  .subheading {
    display: none !important; 
  }
  .blog-title {
    margin-top: 30px;
    font-size: 2rem;
    margin-top: 15px;
  }
  .selection-card:hover .selection-image{
    height: 100px;
    width: 100px;
  }
  .selection-image {
    justify-self: center;
    object-fit: cover;
    height: 100px;
    width: 100px;
    transition: 200ms;
  }
  .sitename {
    font-size: 64px;
  }
}
